<!-- password_reset.html -->
{% extends 'base.html' %}
{% load static %}

{% block static %}
    <!-- 외부 CSS 파일에 대한 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<!--main-->
<div id="main" class="container">
    <hr>
    <br><br>

    <h3>비밀번호 찾기</h3>
    
    <span>비밀번호를 분실하셨습니까?</span><br>
    <span>아래에 이메일 주소를 입력해주십시오.</span> 
    <p>새로운 비밀번호를 설정하는 이메일을 보내드리겠습니다.</p>

    <form method="post" action="{% url 'account:password_reset' %}" onsubmit="return validateForm()">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">비밀번호 초기화</button>
    </form>
<!-- password_reset.html -->
<script>
    function validateForm() {
        var emailValue = document.getElementById('id_email').value;
        checkEmailExistence(emailValue);
        return true;  // 폼을 서버로 제출
    }

    function checkEmailExistence(email) {
        fetch('{% url "account:password_reset" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({ email: email }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.email_not_exists) {
                // 존재하지 않는 이메일일 경우 모달 창을 표시
                alert('존재하지 않는 이메일 주소입니다.');
            } else {
                // 이메일이 존재하는 경우 폼을 서버로 제출
                document.querySelector('form').submit();
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>



{% endblock %}
