<!-- profile_update.html -->
{% extends 'base.html' %}
{% load static %}

{% block static %}
    <!-- 외부 CSS 파일에 대한 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<!--main-->
<div id="main" class="container">
    <hr>
    <br><br>

    <div class="inner">
        <div class="table-wrapper">
            <h3>내 정보 수정</h3>
        </div>

        <form method="post" action="{% url 'account:profile_update' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="table-wrapper">
                <button type="submit" id="submitBtn">저장</button>
                
            </div>
        </form>
    </div>
    <hr>
    <a href="{% url 'account:password_change' %}">암호 변경하기</a>
    <a> | </a>
    <a href="{% url 'account:profile' %}">취소</a>
 
    <!-- 모달 버튼
    <a hx-get="#" hx-target="#myModal" hx-trigger="click">암호 변경하기</a>
    -->
    
    <!-- 모달 창 -->
    {% comment %} <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">암호 변경</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 암호 변경 폼을 받아오는 곳 -->
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'account:password_change' %}">암호 변경하기</a>
   
    <a href="{% url 'account:profile' %}">취소</a> {% endcomment %}
</div>
{% endblock %}
