<!-- password_change_form.html -->
{% extends 'base.html' %}
{% load static %}

{% block static %}
    <!-- 외부 CSS 파일에 대한 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
    <!--main-->
    <div id="main" class="container">
        <hr>
        <br><br>
        <div class='custom-table-wrapper'>
            <h3 class='centered'>암호변경</h3>
            <form action="{% url 'account:password_change' %}" method="post" class="custom-margin-form-container">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock %}
