<!-- password_change_done.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div style="text-align: center;">
    <h2 style="margin-bottom: 10px;">비밀번호 변경 완료</h2>
    <hr style="margin-bottom: 20px;">
    <p style="margin-bottom: 20px;">비밀번호 변경이 완료되었습니다.</p>
    <p style="margin-bottom: 20px;">TeleManager에서 다시 로그인 해주세요.</p>
    <hr style="margin-bottom: 20px;">

    <!-- 로그인 페이지로 이동하는 버튼 -->
    <a href="{% url 'account:login' %}" style="display: inline-block; margin-top: 20px; padding: 10px 20px; background-color: #555555; color: #FFFFFF; text-decoration: none; border-radius: 5px;">로그인 페이지로 이동</a>
  </div>
{% endblock %}