{% load static %}

{% block static %}
    <!-- 외부 CSS 파일에 대한 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- 추가적인 CSS 스타일링을 위한 링크 추가 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset_done.css' %}">
{% endblock %}

{% block content %}
    <!-- main -->
    <div id="main" class="container">
        <hr>
        <br><br>

        <!-- 내용 -->
        <div class="col align-center">
  		<h2>비밀번호 재설정 메일 발송 완료</h2>
		<hr>
		<p>
			비밀번호 재설정을 위한 메일이 발송되었습니다.<br>
			30분 내에 비밀번호를 재설정 해주세요.<br>
			만약 이메일을 받지 못하였다면, 등록하신 이메일을 다시 확인하시거나 스팸 메일함을 확인해주세요.
		</p>
		<a href="{% url 'account:login' %}" style="display: inline-block; margin-top: 20px; padding: 10px 20px; background-color: #555555; color: #FFFFFF; text-decoration: none; border-radius: 5px;">홈페이지로 이동</a>
        </div>
	</div>
  </div>

{% endblock %}