<!-- password_reset_confirm.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Password Reset Confirm -->
  <div style="text-align: center;">
    <br>
    <h2 style="margin-bottom: 10px;">비밀번호 재설정</h2>
    <hr style="margin-bottom: 20px;">
    <p style="margin-bottom: 20px;">새 비밀번호를 입력해 주세요.</p>

    <!-- 비밀번호 재설정 폼 -->
    <form method="POST" style="display: inline-block; text-align: left;">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- 저장 버튼 -->
        <br>
        <button style="margin-top: 20px; background-color: #555555;" class="button primary">저장</button>
    </form>
  </div>
{% endblock %}