<!-- selected_items.html -->
{% extends 'base.html' %}
{% load static %}
 
{% block static %}
    <!-- 외부 CSS 파일에 대한 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}
 
{% block content %}
 
<style>
    .input-left {
        display: flex;
        //height: 50px;
        flex-direction: row; /* 요소들을 가로로 나란히 배치합니다 */
        align-items: center; /* 요소들을 세로로 가운데 정렬합니다 */
        margin-right: 10px; /* 오른쪽 마진을 추가하여 input 요소 사이에 간격을 조절합니다 */
        order: 2; /* .input-left의 기본 순서를 2로 설정합니다 */
        position: relative; /* 상대적인 위치 설정 */
        
    }

    #textInput {
        flex: 1; /* textarea가 남은 공간을 차지하도록 함 */
        margin-right: 10px; /* 오른쪽 여백 추가 */
        margin-top: 5px; /* 위쪽 여백 추가 */
        //height: 100px; /* 원하는 높이로 조절하세요 */
        resize: vertical; /* 수직 크기 조절을 허용합니다 */
        overflow-y: auto; /* 내용이 textarea의 크기를 초과할 경우 스크롤을 추가합니다 */
    }


    #load {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.8;
        background: white;
        z-index: 99;
        text-align: center;
    }

    #load > img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
    }

    .container {
        padding-bottom: 20px; /* textarea가 확장될 때 페이지 하단과 겹치지 않도록 여백 추가 */
    }
    
   
</style>
 
<!--main-->
<div id="main" class="container">
    <hr>
    <br><br>
 
    <form method="post" action="{% url 'client:start_tm' %}" class="form-container" onsubmit="return sendData()">
        {% csrf_token %}
        <h3 class='centered'>TM Message</h3>
        <br><br>
        <div class='input-left_s'>
            <a>어떤 목적의 마케팅을 보내드릴까요?</a>
        </div>
        
        <div class='input-left'>
            <textarea name="input_data" id="textInput" placeholder="TM 목적 입력" rows="4"></textarea>
            <input type="submit" value="Send">
        </div>
        <br><br><br>
 
        <h3 style='font-size: 1rem;'>선택된 고객 목록</h3>
 
        <table border="1">
            <thead>
                <tr>
                    <th><div><input type="checkbox" id="select-all"><label for="select-all"></label></div></th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>나이</th>
                    <th>성별</th>
                    <th>상담날짜</th>
                    {% comment %} <th>TM 목적</th>
                    <th>감성</th> {% endcomment %}
                    <th>고객정보</th>
                    <th>고객관리</th>
                </tr>
            </thead>
            <tbody>
                {% for client in selectedClients %}
                    <tr>
                        <td> 
                            <div>
                                <input type="checkbox" id="copy_{{ client.id }}" name="client_ids" value="{{ client.id }}">
                                <label for="copy_{{ client.id }}"></label>
                            </div>
                        </td>
                        <td>{{ client.name|slice:"0:1" }}{% for i in client.name|slice:"1:" %}*{% endfor %}</td>
                    <!--   <td>{{ client.location }}</td> --> 
                        <td>{{ client.number|slice:"0:4" }}****-****</td>
                        <td>
                            {% if client.age < 10 %}
                                유아
                            {% elif client.age < 20 %}
                                10대
                            {% elif client.age < 30 %}
                                20대
                            {% elif client.age < 40 %}
                                30대
                            {% elif client.age < 50 %}
                                40대
                            {% elif client.age < 60 %}
                                50대
                            {% else %}
                                60대 이상
                            {% endif %}
                        </td>
                        <td>{{ client.gender }}</td>
                        <td>{{ client.tm_date|date:"Y. m. d P" }}</td>
                        {% comment %} <td></td>
                        <td>O/X</td> {% endcomment %}
                        <td>{{ client.info }}</td>
                        <td>
                            <a href="{% url 'client:edit_client' client.id %}">수정</a> 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <h3 style='font-size: 1rem;'>선택된 파일 목록</h3>

        <table border="1">
            <thead>
                <tr>
                    <th><div><input type="checkbox" id="select-all2"><label for="select-all2"></label></div></th>
                    <th>파일 이름</th>
                    <th>업로드 날짜</th>
                    <th>설명</th>
                    <th>임베딩 파일</th>
                    <th>파일관리</th>
                </tr>
            </thead>
            <tbody>
                {% for file in selectedFiles %}
                    <tr>
                        <td>
                            <div>
                                <input type="checkbox" id="copy_{{ file.id }}" name="file_ids" value="{{ file.id }}">
                                <label for="copy_{{ file.id }}"></label>
                            </div>
                        </td>
                        <td>{{ file.file.name|cut:"_"|slice:"1:" }}</td>
                        <td>{{ file.upload_date }}</td>
                        <td>{{ file.description }}</td>
                        <td>{{ file.embedding_file }} </td>
                        <td>
                            <a href="{% url 'account:edit_file' file.id %}">수정</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </form>

    <!-- 로딩용 이미지 1229 -->
    <div id="load" style="display: none;">
        <img src="{% static 'loading_recording/Glowing_ring.gif' %}" alt="loading">
    </div>
 
    <button><a href="{% url 'client:list'  %}" style='color:white'>뒤로가기</a></button>
</div>
 
<script>
    //이벤트가 발생하면 문서가 완전히 로드되었을 때 실행되는 이벤트 핸들러입니다. 
    //주어진 폼(.form-container)에 대한 submit 이벤트를 감지하고, 선택된 고객 및 파일을 확인하고, 
    //선택된 항목이 없으면 경고를 표시하며 페이지 이동을 막습니다.
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('.form-container');
        
        form.addEventListener('submit', function(event) {
            const selectedClientIds = Array.from(document.querySelectorAll('input[name="client_ids"]:checked')).map(checkbox => checkbox.value);
            const selectedFileIds = Array.from(document.querySelectorAll('input[name="file_ids"]:checked')).map(checkbox => checkbox.value);
            
            // 선택된 고객 또는 파일이 하나도 없을 경우 경고 표시
            if (selectedClientIds.length === 0 || selectedFileIds.length === 0) {
                alert('고객과 파일 모두 선택해 주십시오.');
                event.preventDefault(); // 기본 이벤트 (페이지 이동) 방지
                return;
            }
            
            // 선택된 항목이 있을 때만 hidden input fields를 추가합니다.
            if (selectedClientIds.length > 0) {
                const clientIdsInput = document.createElement('input');
                clientIdsInput.type = 'hidden';
                clientIdsInput.name = 'selected_clients';
                clientIdsInput.value = selectedClientIds.join(',');
                form.appendChild(clientIdsInput);
            }
            
            if (selectedFileIds.length > 0) {
                const fileIdsInput = document.createElement('input');
                fileIdsInput.type = 'hidden';
                fileIdsInput.name = 'selected_files';
                fileIdsInput.value = selectedFileIds.join(',');
                form.appendChild(fileIdsInput);
            }
        });
    });

    //페이지가 로드될 때 실행되는 이벤트 핸들러로, 이름이 "client_ids"인 모든 체크박스를 선택상태로 초기화합니다.
    document.addEventListener('DOMContentLoaded', function() {
        const clientCheckboxes = document.querySelectorAll('input[name="client_ids"]');
        clientCheckboxes.forEach(function(checkbox) {
            checkbox.checked = true;
        });
    });
    //페이지가 로드될 때 실행되는 이벤트 핸들러로, 이름이 "file_ids"인 모든 체크박스를 선택상태로 초기화합니다.
    document.addEventListener('DOMContentLoaded', function() {
        const fileCheckboxes = document.querySelectorAll('input[name="file_ids"]');
        fileCheckboxes.forEach(function(checkbox) {
            checkbox.checked = true;
        });
    
    });
    
    // 전역변수로 설정
    let loadingPage;
    // 로딩 화면 출력 1229 - 이건 된다.
    async function sendData() {
        const loadingPage = document.getElementById("load");
        loadingPage.style.display = 'block';
    }
    
    // 페이지를 떠날 때의 동작을 정의 1229
    function handleUnload() {
        // 로딩 화면 숨기기.
        const loadingPage = document.getElementById("load");
        loadingPage.style.display = 'none';
    }
    // unload 이벤트가 발생할 때 handleUnload 함수 실행
    window.addEventListener('unload', handleUnload);


    // enter + shift를 누르면 아웃바운드에서 줄바꿈 기능이 수행되게 하는 스크립트
    document.getElementById('textInput').addEventListener('keydown', function(e) {
        if (e.key === 'Enter' && e.shiftKey) {
            // Shift + Enter를 눌렀을 때만 동작
            this.value += '\n'; // 줄바꿈 추가
        }
    });

    // 초기 로딩 시 한 번 높이 조절
    //window.addEventListener('load', adjustTextareaHeight);

</script>


{% endblock %}